* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Rubik", sans-serif;
}


/* download.html */

#container-download {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #2196F3;
    color: #fff;
    gap: 60px;
}

#logos-download {
    display: flex;
    align-items: center;
    gap: 40px;
}

#logos-download a{
    transition: all 0.1s;
}

#logos-download a:hover {
    opacity: 0.4;
}








/* login.html */

#container-login {
    display: flex;
    background-color: #2196F3;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #fff;
}

#form-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#form-login img {
    height: 20px;
    width: 20px;
}

/* inputs */

.input-login-container {
    display: flex;
    border: 3px solid #fff;
    border-radius: 6px;
    min-height: 30px;
    padding: 5px;
}

.input-login {
    display: flex;
    background-color: #2196F3;
    border: none;
    font-size: 15px;
    min-width: 230px;
    padding-left: 5px;
    color: #fff;
}

.input-login ::placeholder {
    color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
 }

 /* submits */

 #link-submit{
    color: #FBF100;
    transition: all 0.2s;
 }

 #form-login a :hover{
    opacity: 0.6;
 }

 #submit {
    display: flex;
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    background-color: #FBF100;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px
 }

 #forgot-password {
    color: #2196F3;
 }

 #forgot-password h5{
    color: #fff;
 }